:root{
    --white: #fff;
    --black: #000;
    --purple:#8F00FF;
    --grey:#D3D4D4;
}
@font-face {
    font-family: 'Thin-font';
    src: url('../assets/fonts/Raleway-Thin.ttf');
}
@font-face {
    font-family: 'Regular-font';
    src: url('../assets/fonts/Raleway-Regular.ttf');
}
@font-face {
    font-family: 'SemiBold-font';
    src: url('../assets/fonts/Raleway-SemiBold.ttf');
}
@font-face {
    font-family: 'Bold-font';
    src: url('../assets/fonts/Raleway-ExtraBold.ttf');
}
/* Accordion Functionality */
.accordionWrapper{
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    padding-top: 30px;
    border-left: 1px solid var(--grey);
    overflow: hidden;
    min-height: 100vh;
}
.accordionWrapper .accordion-tab{
    /* flex-grow: 1; */
    position: relative;
    background:transparent;
    overflow: hidden;
    border-bottom: 1px solid var(--grey);
    padding: 30px;
    padding-top: 0;
    transition: all 3s ease-in-out;
}
.tab3{
    flex-grow: 1;
}
.accordionWrapper .accordion-tab input{
    appearance: none;
}
.accordionWrapper .accordion-tab label{
    display: flex;
    cursor: pointer;
}
.accordionWrapper .accordion-tab label::after{
    content: "⊕";
    position: absolute;
    right: 20px;
    font-size: 100px;
    color: var(--black);
    transition: transform 2s;
    font-weight: 100;
}
.accordionWrapper .accordion-tab:hover label::after{
    color: var(--purple);
}
.accordionWrapper .accordion-tab input:checked ~ label::after{
    transform: rotate(135deg);
}
.accordionWrapper .accordion-tab .content{
max-height: 0;
transition:all 3s ease-in-out;
opacity: 0;
}
.accordionWrapper .accordion-tab input:checked ~ .content{
    min-height: 100vh;
    max-height: 500vh;
  overflow: scroll;
  opacity: 1;
  margin-top: 30px;
}

/*Accordion Styles */
.heading-title{
    font-size: 100px;
    font-family: 'Regular-font';
    margin: 0;
}
.heading-number{
    font-family: 'Thin-font';
    font-weight: 500;
    font-size: 100px;
    margin-right: 50px;
}
.heading-summary{
    font-family: 'Thin-font';
    font-size: 16px;
    width: 70%;
}
  
.content{
    display: flex;
    flex-direction: row;
}
.content-links{
    display: flex;
    flex-direction: column;
    margin-right: 50px;
}
.content-links a{
    text-decoration: none;
    color: black;
    font-family: 'SemiBold-font';
    margin-bottom: 10px;
}
.content-links a:hover{
    color: var(--purple);
}
.content-text{
    width: 70%;
    font-family: 'Thin-font';
}
.content-heading{
    font-family: 'SemiBold-font';
    font-size: 25px;
    border-bottom: 1px solid black;
    margin-bottom: 10px;
}
.content1, .content2, .content3{
    margin-bottom: 30px;
}

/* Responsive Screen */
@media screen and (max-width: 667px) {
    .accordionWrapper{
        margin-left: 0;
        border: none;
    }
    .heading-title{
        font-size: 50px;
    }
    .heading-number{
        font-size: 50px;
        margin-right: 20px;
    }
    .accordionWrapper .accordion-tab label::after{
        font-size: 50px;
    }
.heading-summary{
    width: 100%;
    font-size: 16px;
    margin: 0;
}
.content{
    flex-direction: column;
}
.content-text{
    width: 100%;
}
    }

    /* Resume Styles */
    .experienceHeading{
        display: flex;
        justify-content: space-between;
        font-size: 10px;
        width: 50%;
        font-family: 'Regular-font';
    }
    .resumeContentLinkz{
        color: black;
    }
    .skills{
        font-family: 'SemiBold-font';
    }
    .skillsZoom{
        font-family: 'Thin-font';
    }
    .skills svg{
        color: var(--purple);
        margin:0 10px;
        font-size: 15px;
        transition: all 200ms ease-in;
    }
    .contactIcons svg{
     color: var(--purple);
     margin: 0 10px;
    }
    .resumeDwnld{
        text-decoration: none;
        color: var(--black);
    }
.svg1:hover{
    color: #DC4A25;
    transform: scale(3);
}
.svg2:hover{
    color: #264BDD;
    transform: scale(3);
}
.svg3:hover{
    color: #F7DF1C;
    transform: scale(3);
}
.svg4:hover{
    color: #00DCFF;
    transform: scale(3);
}
.svg5:hover{
    color: #890BFB;
    transform: scale(3);
}

    @media screen and (max-width: 667px) {
        .experienceHeading{
           width: 100%;
        }
        .contactIcons{
            display: flex;
            flex-direction: column;
        }
        .contactIcons span{
            margin-bottom: 10px;
        }

    }