:root{
    --white: #fff;
    --black: #000;
    --purple:#8F00FF;
    --grey:#D3D4D4;
}
@font-face {
    font-family: 'Thin-font';
    src: url('../assets/fonts/Raleway-Thin.ttf');
}
@font-face {
    font-family: 'Regular-font';
    src: url('../assets/fonts/Raleway-Regular.ttf');
}
@font-face {
    font-family: 'SemiBold-font';
    src: url('../assets/fonts/Raleway-SemiBold.ttf');
}
@font-face {
    font-family: 'Bold-font';
    src: url('../assets/fonts/Raleway-ExtraBold.ttf');
}

.accordionWrapper{
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    padding-top: 30px;
    border-left: 1px solid var(--grey);
}
.accordionWrapper .accordion-tab{
    position: relative;
    background:transparent;
    overflow: hidden;
    border-bottom: 1px solid var(--grey);
    padding: 50px;
    padding-top: 0;
    transition: all 3s ease-in-out;
}
.accordionWrapper .accordion-tab input{
    appearance: none;
}
.accordionWrapper .accordion-tab label{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    cursor: pointer;
}
.accordionWrapper .accordion-tab label::after{
    content: "+";
    position: absolute;
    right: 20px;
    font-size: 120px;
    color: var(--black);
    transition: transform 2s;
    font-weight: 100;
}
.accordionWrapper .accordion-tab:hover label::after{
    color: var(--purple);
}
.accordionWrapper .accordion-tab input:checked ~ label::after{
    transform: rotate(135deg);
}
.accordionWrapper .accordion-tab .content{
max-height: 0;
transition:all 1s ease-in-out;
opacity: 0;
}
.accordionWrapper .accordion-tab input:checked ~ .content{
    max-height: 100vh;
    height: 100vh;
  overflow: scroll;
  opacity: 1;
}

  /* @keyframes visible {
   from {
     opacity: 0;
   }
   to {
     opacity: 1;
   }
  } */
.heading-title{
    font-size: 100px;
    font-family: 'Bold-font';
    margin: 0;
}
.heading-number{
    font-family: 'Regular-font';
    font-size: 100px;
    margin-right: 50px;
}
.heading-summary{
    font-family: 'Thin-font';
}
  