:root{
    --white: #fff;
    --black: #000;
    --purple:#8F00FF;
    --grey:#D3D4D4;
}
@font-face {
    font-family: 'Thin-font';
    src: url('../assets/fonts/Raleway-Thin.ttf');
}
@font-face {
    font-family: 'Regular-font';
    src: url('../assets/fonts/Raleway-Regular.ttf');
}
@font-face {
    font-family: 'SemiBold-font';
    src: url('../assets/fonts/Raleway-SemiBold.ttf');
}
@font-face {
    font-family: 'Bold-font';
    src: url('../assets/fonts/Raleway-ExtraBold.ttf');
}

.logoContainer{
    position: relative;
    display: flex;
}
.homeLogo{
    position: fixed;
    top: 0;
   border-right: 1px solid var(--grey);
   width: 12%;
   height: 100vh;
}
.homeLogo a{
    display: block;
    text-decoration: none;
    transform: rotate(-90deg);
    font-family: 'SemiBold-font';
color: var(--grey);
font-size: 15px;
position: relative;
top: 40%;
}
.homeLogo a:hover{
    color: var(--purple);
}
@media screen and (max-width: 667px) {
  
    .logoContainer{
        display: none;
    }
}