:root{
    --white: #fff;
    --black: #000;
    --purple:#8F00FF;
    --grey:#D3D4D4;
}
@font-face {
    font-family: 'Thin-font';
    src: url('../assets/fonts/Raleway-Thin.ttf');
}
@font-face {
    font-family: 'Regular-font';
    src: url('../assets/fonts/Raleway-Regular.ttf');
}
@font-face {
    font-family: 'SemiBold-font';
    src: url('../assets/fonts/Raleway-SemiBold.ttf');
}
@font-face {
    font-family: 'Bold-font';
    src: url('../assets/fonts/Raleway-ExtraBold.ttf');
}

.projectContainer{
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    border-bottom: 1px solid black;
}
.projectCard{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 750px;
    height: 500px;
    margin: 10px 10px 10px 90px;
    flex-shrink: 0;
    scroll-snap-align: start;
}

.projectCard a{
    text-decoration: none;
    color: var(--black);
    font-size: 120px;
}

/* Project Images */
/* .card1:hover{
    background-image: url('../assets/images/projects/bb.gif');
    background-size: contain;
}
.card1:hover > .title1{
    opacity: 0;
}

.card2:hover{
    background-image: url('../assets/images/projects/BK.gif');
    background-size: contain;
}
.card2:hover > .title2{
    opacity: 0;
}

.card3:hover{
    background-image: url('../assets/images/projects/candyl.gif');
    background-size: contain;
}
.card3:hover > .title3{
    opacity: 0;
} */