:root{
    --white: #fff;
    --black: #000;
    --purple:#8F00FF;
    --grey:#D3D4D4;
}
@font-face {
    font-family: 'Thin-font';
    src: url('../assets/fonts/Raleway-Thin.ttf');
}
@font-face {
    font-family: 'Regular-font';
    src: url('../assets/fonts/Raleway-Regular.ttf');
}
@font-face {
    font-family: 'SemiBold-font';
    src: url('../assets/fonts/Raleway-SemiBold.ttf');
}
@font-face {
    font-family: 'Bold-font';
    src: url('../assets/fonts/Raleway-ExtraBold.ttf');
}

/* Swiper JS Styles */
.swiper {
    margin-top: 50px;
    width: 500px;
    height: 320px;
  }
  
  .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 18px;
    border: 1px solid var(--black);
    font-size: 22px;
    font-weight: bold;
    color: #fff;
  }
  
.card1{
    background-image: url('../assets/images/projects/BBHome.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.card1:hover{
    background-image: url('../assets/images/projects/bb.gif');
    background-size: contain;
    background-repeat: no-repeat;
}
.link1,.link2,.link3,.link4{
  text-decoration: none;
    color: var(--black);
    position: relative;
    top: 90%;
    left: 80%;
}

.card2{
    background-image: url('../assets/images/projects/BKHome.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.card2:hover:hover{
    background-image: url('../assets/images/projects/BK.gif');
    background-size: contain;
    background-repeat: no-repeat;
}
.card3{
    background-image: url('../assets/images/projects/candylHome.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.card3:hover:hover{
    background-image: url('../assets/images/projects/candyl.gif');
    background-size: contain;
    background-repeat: no-repeat;
}
.card4{
    background-image: url('../assets/images/projects/jobHome.PNG');
    background-size: cover;
}

  .swiper-slide:nth-child(1n) {
    background-color: white;
  }
  
  .swiper-slide:nth-child(2n) {
    background-color: white;
  }
  
  .swiper-slide:nth-child(3n) {
    background-color: white;
  }
  
  .swiper-slide:nth-child(4n) {
    background-color: white;
  }
  
  .swiper-slide:nth-child(5n) {
    background-color: white;
  }
  
  @media screen and (max-width: 667px) {
    .swiper {
      width:300px;
    height: 200px;
    }
    
    .link1,.link2,.link3,.link4{
      font-size: 16px;
        top: 85%;
        left: 80%;
    }
}
  